<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>go if/else format</title>
    <style>
        div{
    border-style: solid;
    border-color: yellow;
                margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    background-color: lightblue;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 150px;
        }
        body{
            background-color: #5f796b;
        }
        p{
            font-family: Calibri;
    font-size: 20px;

}
color:red}
.important{
    </style>
</head>
<body>
<div class="git">
<p>
<p class="yourfirstackagegoprogram">
<br/>
<p class="important">note:"go build" complie a file(if your code's logic is error will notify error),"go run" complie and run</p><br/> 
//package convert<br/>
package main<br/>
import (<br/>
"encoding/json"<br/>
"fmt"<br/>
//"strconv"<br/>
)<br/>
type Result struct {<br/>
Cmd string `json:"cmd"`<br/>
Type string `json:"type"`<br/>
Seq string `json:"seq"`<br/>
Rsp struct {<br/>
Code int `json:"code"`<br/>
Reason string `json:"reason"`<br/>
Body struct {<br/>
Token string `json:"token"`<br/>
AliveInterval int `json:"alive_interval"`<br/>
} `json:"body"`<br/>
} `json:"rsp"`<br/>
}<br/>
<br/>
//test finish1<br/>
type Base struct {<br/>
	From  string `json:"from"`<br/>
	Cmd   string `json:"cmd"`<br/>
	Type  string `json:"type"`<br/>
	Seq   uint32 `json:"seq"`<br/>
	Token string `json:"token,omitempty"`<br/>
    Yangming string `json':"yangming"`   <br/>
}<br/>
<br/>
<br/>
type Message struct {<br/>
	Base<br/>
	Req *Request  `json:"req,omitempty"`<br/>
	Rsp *Response `json:"rsp,omitempty"`<br/>
}<br/>
<br/>
<br/>
//<br/>
type TransferNotify struct {<br/>
	TaskStateList []TaskState `json:"task_list"`<br/>
}<br/>
<br/>
<br/>
type Request struct {<br/>
	Register       *RegisterReq       `json:"register,omitempty"`<br/>
	Login          *LoginReq          `json:"login,omitempty"`<br/>
	Keepalive      *KeepaliveReq      `json:"keepalive,omitempty"`<br/>
	UploadTask     *UploadTaskReq     `json:"uploadtask,omitempty"`<br/>
	DownloadTask   *DownloadTaskReq   `json:"downloadtask,omitempty"`<br/>
//	TransferNotify *TransferNotifyReq `json:"transfernotify,omitempty"`<br/>
}<br/>
type Response struct {<br/>
	Code         int              `json:"code"`<br/>
	Reason       string           `json:"reason"`<br/>
	Register     *RegisterRsp     `json:"register,omitempty"`<br/>
	Login        *LoginRsp        `json:"login,omitempty"`<br/>
	Keepalive    *KeepaliveRsp    `json:"keepalive,omitempty"`<br/>
	UploadTask   *UploadTaskRsp   `json:"uploadtask,omitempty"`<br/>
	DownloadTask *DownloadTaskRsp `json:"downloadtask,omitempty"`<br/>
}<br/>
type RegisterReq struct {<br/>
	MachineCode string `json:"machine_code"`<br/>
}<br/>
type RegisterRsp struct {<br/>
	Tnid string `json:"tnid"`<br/>
}<br/>
type LoginReq struct {<br/>
	Version           string        `json:"version"`<br/>
	NetAddr           string        `json:"net_addr"`<br/>
	OS                string        `json:"os"`<br/>
	NetSpeed          uint32        `json:"net_speed"`<br/>
	Storage           []StorageInfo `json:"storage"`<br/>
	TotalStorage      uint64        `json:"total_storage"`<br/>
	FreeStorage       uint64        `json:"free_storage"`<br/>
	CpuUsage          uint32        `json:"cpu_usage"`<br/>
	TotalMem          uint64        `json:"total_mem"`<br/>
	FreeMem           uint64        `json:"free_mem"`<br/>
	UploadBandwidth   uint64        `json:"upload_bandwidth"`<br/>
	DownloadBandwidth uint64        `json:"download_bandwidth"`<br/>
}<br/>
<br/>
type StorageInfo struct {<br/>
	Name string `json:"name"`<br/>
	Type string `json:"type"`<br/>
	Net  string `json:"net,omitempty"`<br/>
}<br/>
type LoginRsp struct {<br/>
	Token                  string `json:"token"`<br/>
	ZoneId                 string `json:"zone_id,omitempty"`<br/>
	AliveInterval          uint32 `json:"alive_interval"`<br/>
	TransferNotifyInterval uint32 `json:"transfer_notify_interval"`<br/>
	Time                   string `json:"time,omitempty"`<br/>
	Version                string `json:"version,omitempty"`<br/>
}<br/>
<br/>
type KeepaliveReq struct {<br/>
	CpuUsage          uint32 `json:"cpu_usage"`<br/>
	TotalStorage      uint64 `json:"total_storage"`<br/>
	FreeStorage       uint64 `json:"free_storage"`<br/>
	TotalMem          uint64 `json:"total_mem"`<br/>
	FreeMem           uint64 `json:"free_mem"`<br/>
	UploadBandwidth   uint64 `json:"upload_bandwidth"`<br/>
	DownloadBandwidth uint64 `json:"download_bandwidth"`<br/>
}<br/>
<br/>
type KeepaliveRsp struct {<br/>
	Token string `json:"token,omitempty"`<br/>
	Time  string `json:"time,omitempty"`<br/>
}<br/>
type UploadTaskReq struct {<br/>
	TaskId  string   `json:"task_id"`<br/>
	Uid     string   `json:"uid"`<br/>
	Fid     string   `json:"fid"`<br/>
	SidList []string `json:"sid_list"`<br/>
}<br/>
<br/>
type UploadTaskRsp struct {<br/>
	SidList         []string `json:"sid_list"`<br/>
	SidStorage      []string `json:"sid_sorage"`<br/>
	Port            uint32   `json:"port"`<br/>
	RecomendBitrate uint32   `json:"recomend_bitrate"`<br/>
}<br/>
<br/>
<br/>
type DownloadTaskReq struct {<br/>
	TaskId     string   `json:"task_id"`<br/>
	Uid        string   `json:"uid"`<br/>
	Fid        string   `json:"fid"`<br/>
	SidList    []string `json:"sid_list"`<br/>
	SidStorage []string `json:"sid_storage"`<br/>
	MaxBitrate uint32   `json:"max_bitrate,omitempty"`<br/>
}<br/>
<br/>
<br/>
type DownloadTaskRsp struct {<br/>
	SidList         []string `json:"sid_list"`<br/>
	Port            uint32   `json:"port"`<br/>
	RecomendBitrate uint32   `json:"recomend_bitrate"`<br/>
}<br/>
type TaskState struct {<br/>
	TaskId     string `json:"task_id"`<br/>
	State      string `json:"state"`<br/>
	TotalBytes uint64 `json:"total_bytes"`<br/>
	Bitrate    uint64 `json:"bitrate"`<br/>
}<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
func main() {<br/>
// This JSON contains an int array.<br/>
//text1 := `{ "cmd": "Login", "type": "req", "seq": "1", "rsp": { "code": 0, "reason": "OK", "body": { "token": "EF02JLGFA09GVNG21F", "alive_interval": 100 } } }`<br/>
//text := `{ "from":"a", "cmd": "Download", "type": "req", "seq": 4294967295,  "token": "EF02JLGFA09GVNG21F" ,"yangming":890}`<br/>
/*loginreq:=`{"from":"a", "cmd": "Login", "type": "req", "seq": 4294967295,  "token": "EF02JLGFA09GVNG21F" ,"yangming":890,"version":"3.0","net_addr":"172.168.0.12","os":"windows","storage":[{"name":"s1","type":"local","net":"china_unicom"}],"total_storage":63,"free_storage":45<br/>
,<br/>
"cpu_usage":65677,"total_mem":88993,"free_mem":563,"upload_bandwidth":83888,"download_bandwidth":728882<br/>
<br/>
}`*/<br/>
<br/>
/*loginrsp:=`{"from":"a", "cmd": "Login", "type": "rsp", "seq": 4294967295,  "token": "EF02JLGFA09GVNG21F" ,"yangming":890,"version":"uis","code":54,<br/>
"alive_interval":546673,"free_mem":563,"upload_bandwidth":83888,"transfer_notify_interval":5366,"time":"653","download_bandwidth":728882<br/>
<br/>
}`<br/>
*/<br/>
/*regsterreq:=`{"from":"a", "cmd": "Register", "type": "rsp", "seq": 4294967295,  "token": "EF02JLGFA09GVNG21F" ,"yangming":890,"machine_code":"x0-6dghsjjjjs-*idii","tnid":"656"}`<br/>
*/<br/>
<br/>
/*<br/>
keepalivereq:=`{"from":"a", "cmd": "keepalive", "type": "req", "seq": 4294967295,  "token": "EF02JLGFA09GVNG21F","free_mem":6783,"cpu_usage":60543<br/>
,"total_storage":63,"free_storage":45,"total_mem":53663773,"free_mem":563,"upload_bandwidth":83888,"download_bandwidth":728882}`<br/>
<br/>
*/<br/>
//keepaliversp:=`{"from":"a", "cmd": "keepalive", "type": "rsp", "seq": 4294967295,  "token": "EF02JLGFA09GVNG21F","time":"6783"}`<br/>
<br/>
/*<br/>
uploadrsp:=`{"from":"a", "cmd": "Upload", "type": "rsp", "seq": 4294967295,  "token": "EF02JLGFA09GVNG21F"<br/>
,"port":838,"recomend_bitrate":677,"sid_storage":["hshh","0.1.1.2"],"sid_list":["1","2","3","4"]}`<br/>
*/<br/>
/*uploadreq:=`{"from":"a", "cmd": "Upload", "type": "req", "seq": 4294967295,  "token": "EF02JLGFA09GVNG21F","task_id":"67","uid":"6732","fid":"hshh"<br/>
,"sid_list":["1","2","3","4"]}`<br/>
*/<br/>
<br/>
/*downloadrsp:=`{"from":"a", "cmd": "Download", "type": "rsp", "seq": 4294967295,  "token": "EF02JLGFA09GVNG21F"<br/>
,"port":838,"recomend_bitrate":677,"sid_list":["1","2","3","4"]}`<br/>
*/<br/>
downloadreq:=`{"from":"a", "cmd": "Download", "type": "req     ", "seq": 4294967295,  "token": "EF02JLGFA09GVNG21F","task_id":"67","uid":"6732","fid":"hshh"<br/>
,"sid_list":["1","2","3","4"],"max_bitrate":7883,"sid_storage":["a","b","c","10.0.2.3"]}`<br/>
<br/>
fmt.Println("*is printing return value***",Convert(downloadreq))<br/>
}<br/>
<br/>
<br/>
//================================================================================================================convert function==================><br/>
<br/>
func Convert(text string) []string{	<br/>
fmt.Println()<br/>
// This JSON contains an int array.<br/>
/*loginreq:=`{"from":"a", "cmd": "Download", "type": "req", "seq": 4294967295,  "token": "EF02JLGFA09GVNG21F" ,"yangming":890,"version":"3.0","net_addr":"172.168.0.12","os":"windows","storage":[{"name":"s1","type":"local","net":"china_unicom"}],"total_storage":63,"free_storage":45<br/>
,"cpu_usage":65677,"total_mem":88993,"free_mem":563,"upload_bandwidth":83888,"download_bandwidth":728882<br/>
<br/>
}`*/<br/>
var tag1 Base<br/>
<br/>
//init a var ===allocate memory locatin<br/>
bytes := []byte(text)//=======================================================================================================================>json input position======><br/>
// Unmarshal JSON to Result struct.<br/>
json.Unmarshal(bytes, &tag1)<br/>
fmt.Println("cmd is=====>",tag1.Cmd ,"================","type is  ========================>",tag1.Type)<br/>
fmt.Println("")<br/>
<br/>
fmt.Println("                     ")<br/>
<br/>
<br/>
<br/>
//=================================================login=======================<br/>
if tag1.Cmd=="Login"{<br/>
//another line <br/>
if tag1.Type=="req" {<br/>
<br/>
	var tag2 LoginReq<br/>
	logintest :=[]byte(text)<br/>
	json.Unmarshal(logintest,&tag2)<br/>
	return []string{"info_more=============>",tag1.From,tag1.Cmd,tag1.Token,tag2.Version,tag2.NetAddr,tag2.OS,fmt.Sprint(tag2.CpuUsage),<br/>
	fmt.Sprint(tag2.TotalMem),fmt.Sprint(tag2.FreeMem),fmt.Sprint(tag2.UploadBandwidth),fmt.Sprint(tag2.DownloadBandwidth)}<br/>
<br/>
}else if tag1.Type=="rsp"{<br/>
	var tag3 LoginRsp<br/>
	logintest1:=[]byte(text)<br/>
	json.Unmarshal(logintest1,&tag3)<br/>
	return []string{tag3.Token,tag3.ZoneId,fmt.Sprint(tag3.AliveInterval),fmt.Sprint(tag3.TransferNotifyInterval),tag3.Time,tag3.Version}<br/>
<br/>
}else{<br/>
	return []string{"illegal info"}<br/>
<br/>
}<br/>
//return []string{"go go gog"}<br/>
//================================================register================have no else============><br/>
}else if tag1.Cmd=="Register"{<br/>
if tag1.Type=="rsp"{<br/>
var register RegisterRsp<br/>
json.Unmarshal(  , &register)<br/>
return []string{"register=======>rsp",register.Tnid}<br/>
}else if tag1.Type=="req"{<br/>
	var register RegisterReq<br/>
	json.Unmarshal(bytes, &register)<br/>
return []string{"register req=====>",register.MachineCode}<br/>
//==================================================upload=============================================><br/>
}}else if tag1.Cmd=="Upload"{<br/>
if tag1.Type=="rsp"{<br/>
	var tag4 UploadTaskRsp<br/>
	json.Unmarshal(bytes,&tag4)<br/>
return []string{"Upload=======>rsp",fmt.Sprint(tag4.Port),fmt.Sprint(tag4.RecomendBitrate),fmt.Sprint(tag4.SidList)}<br/>
}else if tag1.Type=="req"{<br/>
	var tag4 UploadTaskReq<br/>
	json.Unmarshal(bytes,&tag4)<br/>
return []string{tag4.TaskId ,tag4.Uid,tag4.Fid,fmt.Sprint(tag4.SidList)}<br/>
//==================================================keepalive========================================><br/>
}}else if tag1.Cmd=="keepalive"{<br/>
if tag1.Type=="rsp"{<br/>
    var keepalive KeepaliveRsp<br/>
    json.Unmarshal(bytes, &keepalive)<br/>
	return []string{"keepalive===========>",keepalive.Token,keepalive.Time}<br/>
}else if tag1.Type=="req"{<br/>
 var keepalive KeepaliveReq<br/>
    json.Unmarshal(bytes, &keepalive)<br/>
		return []string{fmt.Sprint(keepalive.FreeMem),fmt.Sprint(keepalive.UploadBandwidth),<br/>
			fmt.Sprint(keepalive.TotalMem),fmt.Sprint(keepalive.FreeMem),fmt.Sprint(keepalive.TotalStorage),<br/>
			fmt.Sprint(keepalive.FreeStorage),fmt.Sprint(keepalive.UploadBandwidth),fmt.Sprint(keepalive.DownloadBandwidth),fmt.Sprint(keepalive.CpuUsage)}<br/>
		<br/>
	}<br/>
<br/>
//==================================================download===========================================><br/>
}else if tag1.Cmd=="Download"{<br/>
if tag1.Type=="req"{<br/>
var tag5 DownloadTaskReq<br/>
	json.Unmarshal(bytes,&tag5)<br/>
return []string{tag5.TaskId,tag5.Uid,tag5.Fid,fmt.Sprint(tag5.SidList),fmt.Sprint(tag5.SidStorage),fmt.Sprint(tag5.MaxBitrate)}<br/>
<br/>
}else if tag1.Type=="rsp"{<br/>
var tag5 DownloadTaskRsp<br/>
	json.Unmarshal(bytes,&tag5)<br/>
return []string{"DownloadTask=======>rsp",fmt.Sprint(tag5.Port),fmt.Sprint(tag5.RecomendBitrate),fmt.Sprint(tag5.SidList)}<br/>
	}<br/>
<br/>
//================================================test finish ,but no get result===================================><br/>
}else{<br/>
<br/>
fmt.Println("these line will be launched")<br/>
fmt.Println("i lovehsjjjsjjjjj")<br/>
fmt.Println("")<br/>
return []string{"what is fuls"}<br/>
<br/>
}<br/>
return []string{"test finish"}<br/>
}<br/>
<br/>
<br/><br/>
</p>	 
</p>
</div>
</body>
</html>