
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>yangming's Network Programming</title>
    <style>
	/* CSS reset: http://meyerweb.com/eric/tools/css/reset/ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Layout and typography */
body {
    font-family: 'Georgia', serif;
    font-size: 16px;
    line-height: 20px;
    color: #252519;
}
em {
    font-style: italic;
}
a, a:visited {
    color: #261a3b;
}
h2 {
    font-size: 32px;
    line-height: 40px;
    margin-top: 40px;
}
h2 a {
    text-decoration: none;
}
div.example {
    width: 900px;
    min-width: 900px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 120px;
}
div.example table {
    margin-top: 15px;
    margin-bottom: 20px;
}
p.next {
    margin-bottom: 20px;
}
p.footer {
    color: grey;
}
p.footer a, p.footer a:visited {
    color: grey;
}
div#intro {
    width: 420px;
    min-width: 420px;
    max-width: 420px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 120px;
}
div#intro p {
    padding-top: 20px;
}
div#intro ul {
    padding-top: 20px;
}
table td {
    border: 0;
    outline: 0;
}
td.docs {
    width: 420px;
    max-width: 420px;
    min-width: 420px;
    min-height: 5px;
    vertical-align: top;
    text-align: left;
}
td.docs p {
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 15px;
}
td.code {
    width: 480px;
    max-width: 480px;
    min-width: 480px;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    vertical-align: top;
    background: #f0f0f0;
}
td.code.leading {
    padding-bottom: 11px;
}
td.code.empty {
    background: #ffffff;
}
pre, code {
    font-size: 14px; line-height: 18px;
    font-family: 'Menlo', 'Monaco', 'Consolas', 'Lucida Console', monospace;
}
img.run {
  height: 16px;
  width: 16px;
  float: right
}


.red{
    color: red
}
	</style>
  </head>
  <script type="text/javascript">
    if (window.location.host == "gobyexample.com") {
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34996217-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    }
  </script>
  <body>
    <div id="intro">
      <h2><a href="./">Yangming's go Network Programming </a></h2>
      <p>
        <a href="http://golang.org">Go</a> is an
        open source programming language designed for
        building simple, fast, and reliable software.
      </p>

     

      <ul>
<li><a class="">0 Preface 3</a></li>
<li><a class="">2 Ethernet 41</a></li>
<li><a class="">i</a></li>
<li><a class="">7 IP version 4 161</a></li>
<li><a class="">ii</a></li>
<li><a class="">8 IP version 6 195</a></li>
<li><a class="">9 Routing-Update Algorithms 225</a></li>
<li><a class="">11 UDP Transport 279</a></li>
<li><a class="">13 TCP Reno and Congestion Management 343</a></li>
<li><a class="">14 Dynamics of TCP Reno 369</a></li>
<li><a class="">iv</a></li>
<li><a class="">15 Newer TCP Implementations 405</a></li>
<li><a class="">18 Queuing and Scheduling 497</a></li>
<li><a class="">v</a></li>
<li><a class="">20 Network Management and SNMP 565</a></li>
<li><a class="">21 Security 629</a></li>
<li><a class="">7.5 The Classless IP Delivery Algorithm </a></li>
<li><a class="">7.6 IPv4 Subnets </a></li>
<li><a class="">7.7 DNS </a></li>
<li><a class="">7.8 Address Resolution Protocol: ARP </a></li>
<li><a class="">7.9 Dynamic Host Configuration Protocol (DHCP) </a></li>
<li><a class="">7.10 Internet Control Message Protocol </a></li>
<li><a class="">ii</a></li>
<li><a class="">7.11 Unnumbered Interfaces </a></li>
<li><a class="">7.12 Mobile IP </a></li>
<li><a class="">7.13 Epilog </a></li>
<li><a class="">7.14 Exercises </a></li>
<li><a class="">8 IP version 6 195</a></li>
<li><a class="">8.1 The IPv6 Header </a></li>
<li><a class="">8.2 IPv6 Addresses </a></li>
<li><a class="">8.3 Network Prefixes </a></li>
<li><a class="">8.4 IPv6 Multicast </a></li>
<li><a class="">8.5 IPv6 Extension Headers </a></li>
<li><a class="">8.6 Neighbor Discovery </a></li>
<li><a class="">8.7 IPv6 Host Address Assignment </a></li>
<li><a class="">8.8 Globally Exposed Addresses </a></li>
<li><a class="">8.9 ICMPv6 </a></li>
<li><a class="">8.10 IPv6 Subnets </a></li>
<li><a class="">8.11 Using IPv6 and IPv4 Together </a></li>
<li><a class="">8.12 IPv6 Examples Without a Router </a></li>
<li><a class="">8.13 IPv6 Connectivity via Tunneling </a></li>
<li><a class="">8.14 IPv6-to-IPv4 Connectivity </a></li>
<li><a class="">8.15 Epilog </a></li>
<li><a class="">8.16 Exercises </a></li>
<li><a class="">9 Routing-Update Algorithms 225</a></li>
<li><a class="">9.1 Distance-Vector Routing-Update Algorithm </a></li>
<li><a class="">9.2 Distance-Vector Slow-Convergence Problem </a></li>
<li><a class="">9.3 Observations on Minimizing Route Cost </a></li>
<li><a class="">9.4 Loop-Free Distance Vector Algorithms </a></li>
<li><a class="">9.5 Link-State Routing-Update Algorithm </a></li>
<li><a class="">9.6 Routing on Other Attributes </a></li>
<li><a class="">9.7 Epilog </a></li>
<li><a class="">9.8 Exercises </a></li>
<li><a class="">10 Large-Scale IP Routing 247</a></li>
<li><a class="">10.1 Classless Internet Domain Routing: CIDR </a></li>
<li><a class="">10.2 Hierarchical Routing </a></li>
<li><a class="">10.3 Legacy Routing </a></li>
<li><a class="">10.4 Provider-Based Routing </a></li>
<li><a class="">10.5 Geographical Routing </a></li>
<li><a class="">10.6 Border Gateway Protocol, BGP </a></li>
<li><a class="">10.7 Epilog </a></li>
<li><a class="">10.8 Exercises </a></li>
<li><a class="">11 UDP Transport 279</a></li>
<li><a class="">11.1 User Datagram Protocol – UDP </a></li>
<li><a class="">11.2 Trivial File Transport Protocol, TFTP </a></li>
<li><a class="">11.3 Fundamental Transport Issues </a></li>
<li><a class="">11.4 Other TFTP notes </a></li>
<li><a class="">iii</a></li>
<li><a class="">11.5 Remote Procedure Call (RPC) </a></li>
<li><a class="">11.6 Epilog </a></li>
<li><a class="">11.7 Exercises </a></li>
<li><a class="">12 TCP Transport 307</a></li>
<li><a class="">12.1 The End-to-End Principle </a></li>
<li><a class="">12.2 TCP Header </a></li>
<li><a class="">12.3 TCP Connection Establishment </a></li>
<li><a class="">12.4 TCP and WireShark </a></li>
<li><a class="">12.5 TCP simplex-talk </a></li>
<li><a class="">12.6 TCP state diagram </a></li>
<li><a class="">12.7 TCP Old Duplicates </a></li>
<li><a class="">12.8 TIMEWAIT </a></li>
<li><a class="">12.9 The Three-Way Handshake Revisited </a></li>
<li><a class="">12.10 Anomalous TCP scenarios </a></li>
<li><a class="">12.11 TCP Faster Opening </a></li>
<li><a class="">12.12 Path MTU Discovery </a></li>
<li><a class="">12.13 TCP Sliding Windows </a></li>
<li><a class="">12.14 TCP Delayed ACKs </a></li>
<li><a class="">12.15 Nagle Algorithm </a></li>
<li><a class="">12.16 TCP Flow Control </a></li>
<li><a class="">12.17 Silly Window Syndrome </a></li>
<li><a class="">12.18 TCP Timeout and Retransmission </a></li>
<li><a class="">12.19 KeepAlive </a></li>
<li><a class="">12.20 TCP timers </a></li>
<li><a class="">12.21 Variants and Alternatives </a></li>
<li><a class="">12.22 Epilog </a></li>
<li><a class="">12.23 Exercises </a></li>
<li><a class="">13 TCP Reno and Congestion Management 343</a></li>
<li><a class="">13.1 Basics of TCP Congestion Management </a></li>
<li><a class="">13.2 Slow Start </a></li>
<li><a class="">13.3 TCP Tahoe and Fast Retransmit </a></li>
<li><a class="">13.4 TCP Reno and Fast Recovery </a></li>
<li><a class="">13.5 TCP NewReno </a></li>
<li><a class="">13.6 SACK TCP </a></li>
<li><a class="">13.7 TCP and Bottleneck Link Utilization </a></li>
<li><a class="">13.8 Single Packet Losses </a></li>
<li><a class="">13.9 TCP Assumptions and Scalability </a></li>
<li><a class="">13.10 TCP Parameters </a></li>
<li><a class="">13.11 Epilog </a></li>
<li><a class="">13.12 Exercises </a></li>
<li><a class="">14 Dynamics of TCP Reno 369</a></li>
<li><a class="">14.1 A First Look At Queuing </a></li>
<li><a class="">14.2 Bottleneck Links with Competition </a></li>
<li><a class="">14.3 TCP Fairness with Synchronized Losses </a></li>
<li><a class="">14.4 Notions of Fairness </a></li>
<li><a class="">iv</a></li>
<li><a class="">14.5 TCP Reno loss rate versus cwnd </a></li>
<li><a class="">14.6 TCP Friendliness </a></li>
<li><a class="">14.7 AIMD Revisited </a></li>
<li><a class="">14.8 Active Queue Management </a></li>
<li><a class="">14.9 The High-Bandwidth TCP Problem </a></li>
<li><a class="">14.10 The Lossy-Link TCP Problem </a></li>
<li><a class="">14.11 The Satellite-Link TCP Problem </a></li>
<li><a class="">14.12 Epilog </a></li>
<li><a class="">14.13 Exercises </a></li>
<li><a class="">15 Newer TCP Implementations 405</a></li>
<li><a class="">15.1 High-Bandwidth Desiderata </a></li>
<li><a class="">15.2 RTTs </a></li>
<li><a class="">15.3 Highspeed TCP </a></li>
<li><a class="">15.4 TCP Vegas </a></li>
<li><a class="">15.5 FAST TCP </a></li>
<li><a class="">15.6 TCP Westwood </a></li>
<li><a class="">15.7 TCP Veno </a></li>
<li><a class="">15.8 TCP Hybla </a></li>
<li><a class="">15.9 TCP Illinois </a></li>
<li><a class="">15.10 H-TCP </a></li>
<li><a class="">15.11 TCP CUBIC </a></li>
<li><a class="">15.12 Epilog </a></li>
<li><a class="">15.13 Exercises </a></li>
<li><a class="">16 Network Simulations: ns-2 429</a></li>
<li><a class="">16.1 The ns-2 simulator </a></li>
<li><a class="">16.2 A Single TCP Sender </a></li>
<li><a class="">16.3 Two TCP Senders Competing </a></li>
<li><a class="">16.4 TCP Loss Events and Synchronized Losses </a></li>
<li><a class="">16.5 TCP Reno versus TCP Vegas </a></li>
<li><a class="">16.6 Wireless Simulation </a></li>
<li><a class="">16.7 Epilog </a></li>
<li><a class="">16.8 Exercises </a></li>
<li><a class="">17 The ns-3 Network Simulator 481</a></li>
<li><a class="">17.1 Installing and Running ns-3 </a></li>
<li><a class="">17.2 A Single TCP Sender </a></li>
<li><a class="">17.3 Wireless </a></li>
<li><a class="">17.4 Exercises </a></li>
<li><a class="">18 Queuing and Scheduling 497</a></li>
<li><a class="">18.1 Queuing and Real-Time Traffic </a></li>
<li><a class="">18.2 Traffic Management </a></li>
<li><a class="">18.3 Priority Queuing </a></li>
<li><a class="">18.4 Queuing Disciplines </a></li>
<li><a class="">18.5 Fair Queuing </a></li>
<li><a class="">18.6 Applications of Fair Queuing </a></li>
<li><a class="">v</a></li>
<li><a class="">18.7 Hierarchical Queuing </a></li>
<li><a class="">18.8 Hierarchical Weighted Fair Queuing </a></li>
<li><a class="">18.9 Token Bucket Filters </a></li>
<li><a class="">18.10 Applications of Token Bucket </a></li>
<li><a class="">18.11 Token Bucket Queue Utilization </a></li>
<li><a class="">18.12 Hierarchical Token Bucket </a></li>
<li><a class="">18.13 Fair Queuing / Token Bucket combinations </a></li>
<li><a class="">18.14 Epilog </a></li>
<li><a class="">18.15 Exercises </a></li>
<li><a class="">19 Quality of Service 539</a></li>
<li><a class="">19.1 Net Neutrality </a></li>
<li><a class="">19.2 Where the Wild Queues Are </a></li>
<li><a class="">19.3 Real-time Traffic </a></li>
<li><a class="">19.4 Integrated Services / RSVP </a></li>
<li><a class="">19.5 Global IP Multicast </a></li>
<li><a class="">19.6 RSVP </a></li>
<li><a class="">19.7 Differentiated Services </a></li>
<li><a class="">19.8 RED with In and Out </a></li>
<li><a class="">19.9 NSIS </a></li>
<li><a class="">19.10 Comcast Congestion-Management System </a></li>
<li><a class="">19.11 Real-time Transport Protocol (RTP) </a></li>
<li><a class="">19.12 Multi-Protocol Label Switching (MPLS) </a></li>
<li><a class="">19.13 Epilog </a></li>
<li><a class="">19.14 Exercises </a></li>
<li><a class="">20 Network Management and SNMP 565</a></li>
<li><a class="">20.1 Network Architecture </a></li>
<li><a class="">20.2 SNMP Basics </a></li>
<li><a class="">20.3 SNMP Naming and OIDs </a></li>
<li><a class="">20.4 MIBs </a></li>
<li><a class="">20.5 SNMPv1 Data Types </a></li>
<li><a class="">20.6 ASN.1 Syntax and SNMP </a></li>
<li><a class="">20.7 SNMP Tables </a></li>
<li><a class="">20.8 SNMP Operations </a></li>
<li><a class="">20.9 MIB Browsing </a></li>
<li><a class="">20.10 MIB-2 </a></li>
<li><a class="">20.11 SNMPv1 communities and security </a></li>
<li><a class="">20.12 SNMP and ASN.1 Encoding </a></li>
<li><a class="">20.13 SNMPv2 </a></li>
<li><a class="">20.14 Table Row Creation </a></li>
<li><a class="">20.15 SNMPv3 </a></li>
<li><a class="">20.16 Exercises </a></li>
<li><a class="">21 Security 629</a></li>
<li><a class="">21.1 Code-Execution Intrusion </a></li>
<li><a class="">21.2 Stack Buffer Overflow </a></li>
<li><a class="">21.3 Heap Buffer Overflow </a></li>
<li><a class="">vi</a></li>
<li><a class="">21.4 Network Intrusion Detection </a></li>
<li><a class="">21.5 Cryptographic Goals </a></li>
<li><a class="">21.6 Secure Hashes </a></li>
<li><a class="">21.7 Shared-Key Encryption </a></li>
<li><a class="">21.8 Diffie-Hellman-Merkle Exchange </a></li>
<li><a class="">21.9 Public-Key Encryption </a></li>
<li><a class="">21.10 SSH and TLS </a></li>
<li><a class="">21.11 IPsec </a></li>
<li><a class="">21.12 RSA Key Examples </a></li>
<li><a class="">21.13 Exercises </a></li>
<li><a class="">22 Bibliography 683</a></li>
<li><a class="">23 Selected Solutions 685</a></li>
<li><a class="">23.1 Solutions for An Overview of Networks </a></li>
<li><a class="">23.2 Solutions for Ethernet </a></li>
<li><a class="">23.3 Solutions for Other LANs </a></li>
<li><a class="">23.4 Solutions for Links </a></li>
<li><a class="">23.5 Solutions for Packets </a></li>
<li><a class="">23.6 Solutions for Sliding Windows </a></li>
<li><a class="">23.7 Solutions for IPv4 </a></li>
<li><a class="">23.8 Solutions for Routing-Update Algorithms </a></li>
<li><a class="">23.9 Solutions for Large-Scale IP Routing </a></li>
<li><a class="">23.10 Solutions for Dynamics of TCP Reno </a></li>
<li><a class="">Indices and tables 695</a></li>
<li><a class="">Bibliography 697</a></li>
<li><a class="">Index </a></li>
         <li ><a href="https://developersab.wordpress.com/2009/10/30/osi-model-associated-protocol/">OSI MODEL </a></li>
        <li ><a href="https://jannewmarch.gitbooks.io/network-programming-with-go-golang-/content/architecture/index.html">Chapter 1 Architecture</a></li>
        <li ><a href="https://jannewmarch.gitbooks.io/network-programming-with-go-golang-/content/architecture/protocol_layers.html">Protocol Layers</a></li>
         <li ><a href="https://jannewmarch.gitbooks.io/network-programming-with-go-golang-/content/socket/the_tcpip_stack.html">The Tcp/Ip stack</a></li>

    
<li ><a href="computer.howstuffworks.com/dns.htm">How DNS wroks</a></li>

<li ><a href="https://jannewmarch.gitbooks.io/network-programming-with-go-golang-/content/socket/ip_address_type.html">IP Address</a></li>


<li ><a href="https://jannewmarch.gitbooks.io/network-programming-with-go-golang-/content/socket/services.html">Service</a></li>

<li ><a href="https://jannewmarch.gitbooks.io/network-programming-with-go-golang-/content/socket/tcp_sockets.html">Tcp sockets</a></li>

<li ><a href="https://jannewmarch.gitbooks.io/network-programming-with-go-golang-/content/socket/controlling_tcp_connections.html">Tcp Control</a></li>
<li ><a href="https://jannewmarch.gitbooks.io/network-programming-with-go-golang-/content/socket/udp_datagrams.html">Udp</a></li>

<li ><a href="https://github.com/oxfordyang2016/caton_time/tree/master/udpconnect">Udp datagram code(by yangming)</a></li>

<li ><a href="https://jannewmarch.gitbooks.io/network-programming-with-go-golang-/content/socket/the_types_conn,_packetconn_and_listener.html">The types Conn, PacketConn and Listener</a></li>

<li ><a href="https://jannewmarch.gitbooks.io/network-programming-with-go-golang-/content/socket/raw_sockets_and_the_type_ipconn.html">The types Conn, PacketConn and Listener</a></li>
<li ><a href="https://jannewmarch.gitbooks.io/network-programming-with-go-golang-/content/socket/raw_sockets_and_the_type_ipconn.html">Raw sockets and the type IPConn</a></li>
<li ><a href="https://jannewmarch.gitbooks.io/network-programming-with-go-golang-/content/dataserialisation/index.html">Data serialisation</a></li>

<li ><a href="https://jannewmarch.gitbooks.io/network-programming-with-go-golang-/content/dataserialisation/mutual_agreement.html">Mutual agreement</a></li>

<li ><a href="https://jannewmarch.gitbooks.io/network-programming-with-go-golang-/content/dataserialisation/self-describing_data.html">Self-describing data</a></li>

<li ><a href="https://jannewmarch.gitbooks.io/network-programming-with-go-golang-/content/web_socket_server.html">web socket server</a></li>

<li ><a href="https://github.com/oxfordyang2016/caton_time/tree/master/websocketsuccess2">web socket server success code</a></li>



        <li><a href="http://programmers.stackexchange.com/questions/171734/difference-between-a-socket-and-a-port">what is socket and port?</a></li>
        <li><a href="http://stackoverflow.com/questions/152457/what-is-the-difference-between-a-port-and-a-socket   ">what is socket and port (unique)?</a></li>
        <li><a href="https://astaxie.gitbooks.io/build-web-application-with-golang/content/en/08.1.html">what is socket 2?</a></li>
        <li><a href="http://bl.ocks.org/tmichel/7390690">simple websocket example with golang</a></li>

         <li><a href="https://astaxie.gitbooks.io/build-web-application-with-golang/content/en/08.2.html">golang websocket prog intro</a></li>
        
         <li><a href="http://stackoverflow.com/questions/13551140/how-to-make-a-websocket-client-wait-util-the-server-is-running">websocket golang server</a></li>
 
         <li><a href="https://github.com/oxfordyang2016/golang-websocket">go websocket client and server success version (all by go)</a></li>



      </ul>
      <p class="footer">
        by <a>yangming</a> | <a href="yang756260386@gmail.com">feedback</a> | <a href="https://github.com/oxfordyang2016/">source</a> | <a href="https://yangmingweatherapp.herokuapp.com">page</a>
        {% load disqus_tags %}
{% disqus_show_comments "yangmingweatherappherokuappcom" %}
{% set_disqus_url object.get_absolute_url %}
      </p>
    </div>


<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
  </body>
</html>
