
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>yangming's Network Programming</title>
    <style>
	/* CSS reset: http://meyerweb.com/eric/tools/css/reset/ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Layout and typography */
body {
    font-family: 'Georgia', serif;
    font-size: 16px;
    line-height: 20px;
    color: #252519;
}
em {
    font-style: italic;
}
a, a:visited {
    color: #261a3b;
}
h2 {
    font-size: 32px;
    line-height: 40px;
    margin-top: 40px;
}
h2 a {
    text-decoration: none;
}
div.example {
    width: 900px;
    min-width: 900px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 120px;
}
div.example table {
    margin-top: 15px;
    margin-bottom: 20px;
}
p.next {
    margin-bottom: 20px;
}
p.footer {
    color: grey;
}
p.footer a, p.footer a:visited {
    color: grey;
}
div#intro {
    width: 420px;
    min-width: 420px;
    max-width: 420px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 120px;
}
div#intro p {
    padding-top: 20px;
}
div#intro ul {
    padding-top: 20px;
}
table td {
    border: 0;
    outline: 0;
}
td.docs {
    width: 420px;
    max-width: 420px;
    min-width: 420px;
    min-height: 5px;
    vertical-align: top;
    text-align: left;
}
td.docs p {
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 15px;
}
td.code {
    width: 480px;
    max-width: 480px;
    min-width: 480px;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    vertical-align: top;
    background: #f0f0f0;
}
td.code.leading {
    padding-bottom: 11px;
}
td.code.empty {
    background: #ffffff;
}
pre, code {
    font-size: 14px; line-height: 18px;
    font-family: 'Menlo', 'Monaco', 'Consolas', 'Lucida Console', monospace;
}
img.run {
  height: 16px;
  width: 16px;
  float: right
}


.red{
    color: red
}
	</style>
  </head>
  <script type="text/javascript">
    if (window.location.host == "gobyexample.com") {
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34996217-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    }
  </script>
  <body>
    <div id="intro">
      <h2><a href="./">Yangming's go Network Programming </a></h2>
      <p>
        <a href="http://golang.org">Go</a> is an
        open source programming language designed for
        building simple, fast, and reliable software.
      </p>

     

      <ul>
      <li><a class="">0 Preface 3</a></li>
<li><a class="">2 Ethernet 41</a></li>
<li><a class="">i</a></li>
<li><a class="">7 IP version 4 161</a></li>
<li><a class="">ii</a></li>
<li><a class="">8 IP version 6 195</a></li>
<li><a class="">9 Routing-Update Algorithms 225</a></li>
<li><a class="">11 UDP Transport 279</a></li>
<li><a class="">13 TCP Reno and Congestion Management 343</a></li>
<li><a class="">14 Dynamics of TCP Reno 369</a></li>
<li><a class="">iv</a></li>
<li><a class="">15 Newer TCP Implementations 405</a></li>
<li><a class="">18 Queuing and Scheduling 497</a></li>
<li><a class="">v</a></li>
<li><a class="">20 Network Management and SNMP 565</a></li>
<li><a class="">21 Security 629</a></li>
<li><a class="">7.5 The Classless IP Delivery Algorithm . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 168</a></li>
<li><a class="">7.6 IPv4 Subnets . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 170</a></li>
<li><a class="">7.7 DNS . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 175</a></li>
<li><a class="">7.8 Address Resolution Protocol: ARP . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 179</a></li>
<li><a class="">7.9 Dynamic Host Configuration Protocol (DHCP) . . . . . . . . . . . . . . . . . . . . . . . . . 183</a></li>
<li><a class="">7.10 Internet Control Message Protocol . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 185</a></li>
<li><a class="">ii</a></li>
<li><a class="">7.11 Unnumbered Interfaces . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 188</a></li>
<li><a class="">7.12 Mobile IP . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 189</a></li>
<li><a class="">7.13 Epilog . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 191</a></li>
<li><a class="">7.14 Exercises . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 191</a></li>
<li><a class="">8 IP version 6 195</a></li>
<li><a class="">8.1 The IPv6 Header . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 195</a></li>
<li><a class="">8.2 IPv6 Addresses . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 196</a></li>
<li><a class="">8.3 Network Prefixes . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 199</a></li>
<li><a class="">8.4 IPv6 Multicast . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 200</a></li>
<li><a class="">8.5 IPv6 Extension Headers . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 201</a></li>
<li><a class="">8.6 Neighbor Discovery . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 203</a></li>
<li><a class="">8.7 IPv6 Host Address Assignment . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 206</a></li>
<li><a class="">8.8 Globally Exposed Addresses . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 210</a></li>
<li><a class="">8.9 ICMPv6 . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 211</a></li>
<li><a class="">8.10 IPv6 Subnets . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 212</a></li>
<li><a class="">8.11 Using IPv6 and IPv4 Together . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 213</a></li>
<li><a class="">8.12 IPv6 Examples Without a Router . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 217</a></li>
<li><a class="">8.13 IPv6 Connectivity via Tunneling . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 219</a></li>
<li><a class="">8.14 IPv6-to-IPv4 Connectivity . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 222</a></li>
<li><a class="">8.15 Epilog . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 222</a></li>
<li><a class="">8.16 Exercises . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 222</a></li>
<li><a class="">9 Routing-Update Algorithms 225</a></li>
<li><a class="">9.1 Distance-Vector Routing-Update Algorithm . . . . . . . . . . . . . . . . . . . . . . . . . . 226</a></li>
<li><a class="">9.2 Distance-Vector Slow-Convergence Problem . . . . . . . . . . . . . . . . . . . . . . . . . . 230</a></li>
<li><a class="">9.3 Observations on Minimizing Route Cost . . . . . . . . . . . . . . . . . . . . . . . . . . . . 232</a></li>
<li><a class="">9.4 Loop-Free Distance Vector Algorithms . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 234</a></li>
<li><a class="">9.5 Link-State Routing-Update Algorithm . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 236</a></li>
<li><a class="">9.6 Routing on Other Attributes . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 239</a></li>
<li><a class="">9.7 Epilog . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 241</a></li>
<li><a class="">9.8 Exercises . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 241</a></li>
<li><a class="">10 Large-Scale IP Routing 247</a></li>
<li><a class="">10.1 Classless Internet Domain Routing: CIDR . . . . . . . . . . . . . . . . . . . . . . . . . . . 247</a></li>
<li><a class="">10.2 Hierarchical Routing . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 249</a></li>
<li><a class="">10.3 Legacy Routing . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 250</a></li>
<li><a class="">10.4 Provider-Based Routing . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 250</a></li>
<li><a class="">10.5 Geographical Routing . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 254</a></li>
<li><a class="">10.6 Border Gateway Protocol, BGP . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 255</a></li>
<li><a class="">10.7 Epilog . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 273</a></li>
<li><a class="">10.8 Exercises . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 273</a></li>
<li><a class="">11 UDP Transport 279</a></li>
<li><a class="">11.1 User Datagram Protocol – UDP . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 279</a></li>
<li><a class="">11.2 Trivial File Transport Protocol, TFTP . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 290</a></li>
<li><a class="">11.3 Fundamental Transport Issues . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 292</a></li>
<li><a class="">11.4 Other TFTP notes . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 297</a></li>
<li><a class="">iii</a></li>
<li><a class="">11.5 Remote Procedure Call (RPC) . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 299</a></li>
<li><a class="">11.6 Epilog . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 303</a></li>
<li><a class="">11.7 Exercises . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 303</a></li>
<li><a class="">12 TCP Transport 307</a></li>
<li><a class="">12.1 The End-to-End Principle . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 308</a></li>
<li><a class="">12.2 TCP Header . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 308</a></li>
<li><a class="">12.3 TCP Connection Establishment . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 310</a></li>
<li><a class="">12.4 TCP and WireShark . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 314</a></li>
<li><a class="">12.5 TCP simplex-talk . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 315</a></li>
<li><a class="">12.6 TCP state diagram . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 320</a></li>
<li><a class="">12.7 TCP Old Duplicates . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 324</a></li>
<li><a class="">12.8 TIMEWAIT . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 325</a></li>
<li><a class="">12.9 The Three-Way Handshake Revisited . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 326</a></li>
<li><a class="">12.10 Anomalous TCP scenarios . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 329</a></li>
<li><a class="">12.11 TCP Faster Opening . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 329</a></li>
<li><a class="">12.12 Path MTU Discovery . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 330</a></li>
<li><a class="">12.13 TCP Sliding Windows . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 330</a></li>
<li><a class="">12.14 TCP Delayed ACKs . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 331</a></li>
<li><a class="">12.15 Nagle Algorithm . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 331</a></li>
<li><a class="">12.16 TCP Flow Control . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 332</a></li>
<li><a class="">12.17 Silly Window Syndrome . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 332</a></li>
<li><a class="">12.18 TCP Timeout and Retransmission . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 333</a></li>
<li><a class="">12.19 KeepAlive . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 334</a></li>
<li><a class="">12.20 TCP timers . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 335</a></li>
<li><a class="">12.21 Variants and Alternatives . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 335</a></li>
<li><a class="">12.22 Epilog . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 337</a></li>
<li><a class="">12.23 Exercises . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 337</a></li>
<li><a class="">13 TCP Reno and Congestion Management 343</a></li>
<li><a class="">13.1 Basics of TCP Congestion Management . . . . . . . . . . . . . . . . . . . . . . . . . . . . 344</a></li>
<li><a class="">13.2 Slow Start . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 348</a></li>
<li><a class="">13.3 TCP Tahoe and Fast Retransmit . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 352</a></li>
<li><a class="">13.4 TCP Reno and Fast Recovery . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 354</a></li>
<li><a class="">13.5 TCP NewReno . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 356</a></li>
<li><a class="">13.6 SACK TCP . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 359</a></li>
<li><a class="">13.7 TCP and Bottleneck Link Utilization . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 360</a></li>
<li><a class="">13.8 Single Packet Losses . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 362</a></li>
<li><a class="">13.9 TCP Assumptions and Scalability . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 363</a></li>
<li><a class="">13.10 TCP Parameters . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 364</a></li>
<li><a class="">13.11 Epilog . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 365</a></li>
<li><a class="">13.12 Exercises . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 365</a></li>
<li><a class="">14 Dynamics of TCP Reno 369</a></li>
<li><a class="">14.1 A First Look At Queuing . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 369</a></li>
<li><a class="">14.2 Bottleneck Links with Competition . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 370</a></li>
<li><a class="">14.3 TCP Fairness with Synchronized Losses . . . . . . . . . . . . . . . . . . . . . . . . . . . . 378</a></li>
<li><a class="">14.4 Notions of Fairness . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 385</a></li>
<li><a class="">iv</a></li>
<li><a class="">14.5 TCP Reno loss rate versus cwnd . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 386</a></li>
<li><a class="">14.6 TCP Friendliness . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 388</a></li>
<li><a class="">14.7 AIMD Revisited . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 390</a></li>
<li><a class="">14.8 Active Queue Management . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 392</a></li>
<li><a class="">14.9 The High-Bandwidth TCP Problem . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 395</a></li>
<li><a class="">14.10 The Lossy-Link TCP Problem . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 396</a></li>
<li><a class="">14.11 The Satellite-Link TCP Problem . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 396</a></li>
<li><a class="">14.12 Epilog . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 397</a></li>
<li><a class="">14.13 Exercises . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 397</a></li>
<li><a class="">15 Newer TCP Implementations 405</a></li>
<li><a class="">15.1 High-Bandwidth Desiderata . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 406</a></li>
<li><a class="">15.2 RTTs . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 406</a></li>
<li><a class="">15.3 Highspeed TCP . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 407</a></li>
<li><a class="">15.4 TCP Vegas . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 408</a></li>
<li><a class="">15.5 FAST TCP . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 411</a></li>
<li><a class="">15.6 TCP Westwood . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 412</a></li>
<li><a class="">15.7 TCP Veno . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 414</a></li>
<li><a class="">15.8 TCP Hybla . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 415</a></li>
<li><a class="">15.9 TCP Illinois . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 416</a></li>
<li><a class="">15.10 H-TCP . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 417</a></li>
<li><a class="">15.11 TCP CUBIC . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 418</a></li>
<li><a class="">15.12 Epilog . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 422</a></li>
<li><a class="">15.13 Exercises . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 423</a></li>
<li><a class="">16 Network Simulations: ns-2 429</a></li>
<li><a class="">16.1 The ns-2 simulator . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 429</a></li>
<li><a class="">16.2 A Single TCP Sender . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 431</a></li>
<li><a class="">16.3 Two TCP Senders Competing . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 443</a></li>
<li><a class="">16.4 TCP Loss Events and Synchronized Losses . . . . . . . . . . . . . . . . . . . . . . . . . . 458</a></li>
<li><a class="">16.5 TCP Reno versus TCP Vegas . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 469</a></li>
<li><a class="">16.6 Wireless Simulation . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 471</a></li>
<li><a class="">16.7 Epilog . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 477</a></li>
<li><a class="">16.8 Exercises . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 477</a></li>
<li><a class="">17 The ns-3 Network Simulator 481</a></li>
<li><a class="">17.1 Installing and Running ns-3 . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 481</a></li>
<li><a class="">17.2 A Single TCP Sender . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 482</a></li>
<li><a class="">17.3 Wireless . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 490</a></li>
<li><a class="">17.4 Exercises . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 496</a></li>
<li><a class="">18 Queuing and Scheduling 497</a></li>
<li><a class="">18.1 Queuing and Real-Time Traffic . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 497</a></li>
<li><a class="">18.2 Traffic Management . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 498</a></li>
<li><a class="">18.3 Priority Queuing . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 498</a></li>
<li><a class="">18.4 Queuing Disciplines . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 499</a></li>
<li><a class="">18.5 Fair Queuing . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 500</a></li>
<li><a class="">18.6 Applications of Fair Queuing . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 512</a></li>
<li><a class="">v</a></li>
<li><a class="">18.7 Hierarchical Queuing . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 513</a></li>
<li><a class="">18.8 Hierarchical Weighted Fair Queuing . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 516</a></li>
<li><a class="">18.9 Token Bucket Filters . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 522</a></li>
<li><a class="">18.10 Applications of Token Bucket . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 527</a></li>
<li><a class="">18.11 Token Bucket Queue Utilization . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 528</a></li>
<li><a class="">18.12 Hierarchical Token Bucket . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 530</a></li>
<li><a class="">18.13 Fair Queuing / Token Bucket combinations . . . . . . . . . . . . . . . . . . . . . . . . . . 532</a></li>
<li><a class="">18.14 Epilog . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 534</a></li>
<li><a class="">18.15 Exercises . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 534</a></li>
<li><a class="">19 Quality of Service 539</a></li>
<li><a class="">19.1 Net Neutrality . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 540</a></li>
<li><a class="">19.2 Where the Wild Queues Are . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 540</a></li>
<li><a class="">19.3 Real-time Traffic . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 541</a></li>
<li><a class="">19.4 Integrated Services / RSVP . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 543</a></li>
<li><a class="">19.5 Global IP Multicast . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 544</a></li>
<li><a class="">19.6 RSVP . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 548</a></li>
<li><a class="">19.7 Differentiated Services . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 550</a></li>
<li><a class="">19.8 RED with In and Out . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 554</a></li>
<li><a class="">19.9 NSIS . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 554</a></li>
<li><a class="">19.10 Comcast Congestion-Management System . . . . . . . . . . . . . . . . . . . . . . . . . . 555</a></li>
<li><a class="">19.11 Real-time Transport Protocol (RTP) . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 556</a></li>
<li><a class="">19.12 Multi-Protocol Label Switching (MPLS) . . . . . . . . . . . . . . . . . . . . . . . . . . . 561</a></li>
<li><a class="">19.13 Epilog . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 563</a></li>
<li><a class="">19.14 Exercises . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 563</a></li>
<li><a class="">20 Network Management and SNMP 565</a></li>
<li><a class="">20.1 Network Architecture . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 567</a></li>
<li><a class="">20.2 SNMP Basics . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 567</a></li>
<li><a class="">20.3 SNMP Naming and OIDs . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 568</a></li>
<li><a class="">20.4 MIBs . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 571</a></li>
<li><a class="">20.5 SNMPv1 Data Types . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 572</a></li>
<li><a class="">20.6 ASN.1 Syntax and SNMP . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 572</a></li>
<li><a class="">20.7 SNMP Tables . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 573</a></li>
<li><a class="">20.8 SNMP Operations . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 578</a></li>
<li><a class="">20.9 MIB Browsing . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 583</a></li>
<li><a class="">20.10 MIB-2 . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 584</a></li>
<li><a class="">20.11 SNMPv1 communities and security . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 592</a></li>
<li><a class="">20.12 SNMP and ASN.1 Encoding . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 594</a></li>
<li><a class="">20.13 SNMPv2 . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 596</a></li>
<li><a class="">20.14 Table Row Creation . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 607</a></li>
<li><a class="">20.15 SNMPv3 . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 616</a></li>
<li><a class="">20.16 Exercises . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 626</a></li>
<li><a class="">21 Security 629</a></li>
<li><a class="">21.1 Code-Execution Intrusion . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 630</a></li>
<li><a class="">21.2 Stack Buffer Overflow . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 631</a></li>
<li><a class="">21.3 Heap Buffer Overflow . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 639</a></li>
<li><a class="">vi</a></li>
<li><a class="">21.4 Network Intrusion Detection . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 645</a></li>
<li><a class="">21.5 Cryptographic Goals . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 646</a></li>
<li><a class="">21.6 Secure Hashes . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 647</a></li>
<li><a class="">21.7 Shared-Key Encryption . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 650</a></li>
<li><a class="">21.8 Diffie-Hellman-Merkle Exchange . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 659</a></li>
<li><a class="">21.9 Public-Key Encryption . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 661</a></li>
<li><a class="">21.10 SSH and TLS . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 665</a></li>
<li><a class="">21.11 IPsec . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 673</a></li>
<li><a class="">21.12 RSA Key Examples . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 676</a></li>
<li><a class="">21.13 Exercises . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 679</a></li>
<li><a class="">22 Bibliography 683</a></li>
<li><a class="">23 Selected Solutions 685</a></li>
<li><a class="">23.1 Solutions for An Overview of Networks . . . . . . . . . . . . . . . . . . . . . . . . . . . . 685</a></li>
<li><a class="">23.2 Solutions for Ethernet . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 686</a></li>
<li><a class="">23.3 Solutions for Other LANs . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 687</a></li>
<li><a class="">23.4 Solutions for Links . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 688</a></li>
<li><a class="">23.5 Solutions for Packets . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 688</a></li>
<li><a class="">23.6 Solutions for Sliding Windows . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 690</a></li>
<li><a class="">23.7 Solutions for IPv4 . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 691</a></li>
<li><a class="">23.8 Solutions for Routing-Update Algorithms . . . . . . . . . . . . . . . . . . . . . . . . . . . 692</a></li>
<li><a class="">23.9 Solutions for Large-Scale IP Routing . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 693</a></li>
<li><a class="">23.10 Solutions for Dynamics of TCP Reno . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 693</a></li>
<li><a class="">Indices and tables 695</a></li>
<li><a class="">Bibliography 697</a></li>
<li><a class="">Index </a></li>
         <li ><a href="https://developersab.wordpress.com/2009/10/30/osi-model-associated-protocol/">OSI MODEL </a></li>
        <li ><a href="https://jannewmarch.gitbooks.io/network-programming-with-go-golang-/content/architecture/index.html">Chapter 1 Architecture</a></li>
        <li ><a href="https://jannewmarch.gitbooks.io/network-programming-with-go-golang-/content/architecture/protocol_layers.html">Protocol Layers</a></li>
         <li ><a href="https://jannewmarch.gitbooks.io/network-programming-with-go-golang-/content/socket/the_tcpip_stack.html">The Tcp/Ip stack</a></li>

    
<li ><a href="computer.howstuffworks.com/dns.htm">How DNS wroks</a></li>

<li ><a href="https://jannewmarch.gitbooks.io/network-programming-with-go-golang-/content/socket/ip_address_type.html">IP Address</a></li>


<li ><a href="https://jannewmarch.gitbooks.io/network-programming-with-go-golang-/content/socket/services.html">Service</a></li>

<li ><a href="https://jannewmarch.gitbooks.io/network-programming-with-go-golang-/content/socket/tcp_sockets.html">Tcp sockets</a></li>

<li ><a href="https://jannewmarch.gitbooks.io/network-programming-with-go-golang-/content/socket/controlling_tcp_connections.html">Tcp Control</a></li>
<li ><a href="https://jannewmarch.gitbooks.io/network-programming-with-go-golang-/content/socket/udp_datagrams.html">Udp</a></li>

<li ><a href="https://github.com/oxfordyang2016/caton_time/tree/master/udpconnect">Udp datagram code(by yangming)</a></li>

<li ><a href="https://jannewmarch.gitbooks.io/network-programming-with-go-golang-/content/socket/the_types_conn,_packetconn_and_listener.html">The types Conn, PacketConn and Listener</a></li>

<li ><a href="https://jannewmarch.gitbooks.io/network-programming-with-go-golang-/content/socket/raw_sockets_and_the_type_ipconn.html">The types Conn, PacketConn and Listener</a></li>
<li ><a href="https://jannewmarch.gitbooks.io/network-programming-with-go-golang-/content/socket/raw_sockets_and_the_type_ipconn.html">Raw sockets and the type IPConn</a></li>
<li ><a href="https://jannewmarch.gitbooks.io/network-programming-with-go-golang-/content/dataserialisation/index.html">Data serialisation</a></li>

<li ><a href="https://jannewmarch.gitbooks.io/network-programming-with-go-golang-/content/dataserialisation/mutual_agreement.html">Mutual agreement</a></li>

<li ><a href="https://jannewmarch.gitbooks.io/network-programming-with-go-golang-/content/dataserialisation/self-describing_data.html">Self-describing data</a></li>

<li ><a href="https://jannewmarch.gitbooks.io/network-programming-with-go-golang-/content/web_socket_server.html">web socket server</a></li>

<li ><a href="https://github.com/oxfordyang2016/caton_time/tree/master/websocketsuccess2">web socket server success code</a></li>



        <li><a href="http://programmers.stackexchange.com/questions/171734/difference-between-a-socket-and-a-port">what is socket and port?</a></li>
        <li><a href="http://stackoverflow.com/questions/152457/what-is-the-difference-between-a-port-and-a-socket   ">what is socket and port (unique)?</a></li>
        <li><a href="https://astaxie.gitbooks.io/build-web-application-with-golang/content/en/08.1.html">what is socket 2?</a></li>
        <li><a href="http://bl.ocks.org/tmichel/7390690">simple websocket example with golang</a></li>

         <li><a href="https://astaxie.gitbooks.io/build-web-application-with-golang/content/en/08.2.html">golang websocket prog intro</a></li>
        
         <li><a href="http://stackoverflow.com/questions/13551140/how-to-make-a-websocket-client-wait-util-the-server-is-running">websocket golang server</a></li>
 
         <li><a href="https://github.com/oxfordyang2016/golang-websocket">go websocket client and server success version (all by go)</a></li>



      </ul>
      <p class="footer">
        by <a>yangming</a> | <a href="yang756260386@gmail.com">feedback</a> | <a href="https://github.com/oxfordyang2016/">source</a> | <a href="https://yangmingweatherapp.herokuapp.com">page</a>
        {% load disqus_tags %}
{% disqus_show_comments "yangmingweatherappherokuappcom" %}
{% set_disqus_url object.get_absolute_url %}
      </p>
    </div>


<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
  </body>
</html>
