<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>yangming's gopaper</title>
    <style>
        div{
    border-style: solid;
    border-color: yellow;
                margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    background-color: lightblue;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 150px;
        }
        body{
            background-color: #5f796b;
        }
        p{
            font-family: Calibri;
    font-size: 20px;

}
    </style>
</head>
<body>
<div class="git">
<p>
1.how to get fmt output-->a:=fmt.sprint(object)<br/>
2.defer func() {<br/>
        b:=json.marshal(&rsp)<br/>
        io.WS(string(b))<br/>
    }()#last bracket pass argvs of functon<br/>
3.var TimeFunc = time.Now->donnot worry type<br/>
4.func (m MapClaims) Valid() error->usage m.Valid(), m is a instance struct  *https://gobyexample.com/interfaces<br/>
5.func jsonResponse(response interface{}, w http.ResponseWriter) {<br/>
 
    json, err := json.Marshal(response)<br/>
    if err != nil {<br/>
        http.Error(w, err.Error(), http.StatusInternalServerError)<br/>
        return<br/>
    }
 
    w.WriteHeader(http.StatusOK)<br/>
    w.Header().Set("Content-Type", "application/json")<br/>
    w.Write(json)<br/>
}-----write to header<br/>
<p>
    6.greate interface
func main() {
    var k []interface{}//it is like list in python
    s := make([]interface{}, 3)
    s[0] = 5
    s[1] = false
    s[2] = "c"
    k = append(k, s...)
    fmt.Println(k)

}



</p>








<!--git command  flow<br/>
1.install windows-git<br/>
2.md gitflow (create a empty dir)<br/>
3.use git bash open(or else)<br/>
4.cd gitflow<br/>
5.git init<br/>
6.touch readme.txt<br/>
7.edit readme.txt add change 1<br/>
8.git status<br/>
9.git add readme.txt<br/>
10.git status<br/>
11.edit readme.txt<br/>
12.git status(ocuur warning)<br/>
13.git add readme.txt<br/>
14.git commit -m 'info'<br/>
15.(vim)<br/>
16.git status<br/>
17.edit readme.txt change3<br/>
18.git add readme.txt<br/>
19.git commit -m ''<br/>
20.git log<br/>
21.touch index.html<br/>
22.edit readme.txt(change4)<br/>
23.git status<br/>
24.git add .<br/>
25.create test.log file(pwd)<br/>
26.git status<br/>
27.edit .gitignore<br/>
28.git status<br/>
29.git commit -m 'add ignorefile'<br/>
30.git branch mybranch<br/>
31.git checkout mybranch<br/>
32.touch index.css<br/>
33.edit readme.txt(change5)<br/>
34.git add .<br/>
35.git commit -m ''<br/>
36.git checkout master(switch)[do not include css file]_<br/>
37.dir<br/>
38.look up readme.txt (donot include change5)<br/>
39.git status<br/>
40.git merge master<br/>
41.lookup readme.txt file change 5 ocuur<br/>
42.edit readme.txt(change6)<br/>
43.git commit -a -m ''(do all action)<br/>
44.git checkout mybranch<br/>
45.edit readme.txt(change 7)<br/>
46.git commit -a -m ''<br/>
47.git merge master(will ocuur conflict)<br/>
48.git status(warn both modify ...but later donnot occur)<br/>
49.render readme.txt(delete boring info)<br/>
50.git commit -m -a ''<br/>
51.git status<br/>
52.git mergetool(recommend)<br/>
53.touch newfile.txt<br/>

54.git checkout master<br/>
55.git status(untrack file mybranch)<br/>
56.git checkout mybranch<br/>
57.git add .<br/>
58.git stash<br/>
59.git status<br/>
60.git stash apply<br/>

part2<br/>
1.git clone url<br/>
2.git remote<br/>
3.cd dirname<br/>
4.git remote<br/>
5.git remote -v<br/>
6.git fetch origin(will not merge)<br/>
7.git pull origin(will merge)<br/>
8.edit a local file(cloned to local)<br/>
9.git commit -a -m ''<br/>
10.git  push origin master(user password)<br/>  
11.git remote add myreponame url<br/>
12.git remote -v<br/>
13.about sublime--open a local repo dir in sublime and<br/>
   swith a branch and you will see a tranfer version in sublime<br/>
14.git config --global user.email "you@example.com"
15.git config --global user.name "yangming"<br/>   
part3<br/>
<a href="http://stackoverflow.com/questions/67699/how-to-clone-all-remote-branches-in-git">1.How to clone all remote branches in Git?<br/>
<a href="http://danielkummer.github.io/git-flow-cheatsheet/">2.about git flow </a><br/>
<a href="https://github.com/oxfordyang2016/caton_time/blob/master/images/gitflow">2.1 git flow commands </a><br/>
<a href="http://stackoverflow.com/questions/7552054/git-cli-get-user-info-from-username">3.get User info</a><br/>
<a href="https://github.com/oxfordyang2016/caton_time/blob/master/gitsynschema.jpg">4.git syn schema</a><br/>
<a href="https://help.github.com/articles/adding-a-remote/">5.git remote add </a><br/>
<a href="http://stackoverflow.com/questions/2003505/how-to-delete-a-git-branch-both-locally-and-remotely">6.delete branch </a><br/>
<a href="http://stackoverflow.com/questions/38004148/another-git-process-seems-to-be-running-in-this-repository">7.another git process seems to be running </a><br/>
<a href="https://learn.getgrav.org/content/markdown">8.markdown syntax </a><br/>
<a href="http://stackoverflow.com/questions/38004148/another-git-process-seems-to-be-running-in-this-repository">9.another git process seems to be running in this repository</a><br/>
part4<br/>
1.when you are local host ,you add  a readme.txt. git all actions and you will<br/> see a readme.txt in github<br/>
2.about pull request<br/>
origin github account-----github fork to your github accout-----git clone your repo<br/> url--git all actions to your remote repo---github pull request--origin<br/> github account merge----all ok<br/>
3.about git clone<br/>
origin github account----git clone url to the local---git pull(keep updating)<br/>
-->
</p>
</div>
</body>
</html>
