<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>yangming's linux commands</title>
    <style>
        div{
    border-style: solid;
    border-color: yellow;
                margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    background-color: lightblue;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 150px;
        }
        body{
            background-color: #5f796b;
        }
        p{
            font-family: Calibri;
    font-size: 20px;

}
    </style>
</head>
<body>
<div class="git">
<p>
linux command  flow<br/>
1.kill pid ->kill a process<br/>
2.ps aux ->lookup proccess info <br/>
3.rm -rf filenameordirname-->del file or file<br/>
4.dpkg -l->ubuntu installed package<br>
5.mkdir name--->make a dir<br/>
6.find / -name yangming-->find something<br/>
7.touch yangming.txt -->make a empty file<br/>
8.mv yan.txt mi.txt-->rename a file<br/>
9.ln blah1 blah1-hard-->make hard link <br/>
10.ln -s blah2 blah2-soft-->make soft link<br/> 
11.rm -r mydir--->delete a dir<br/>
12.cp /dir/y.txt /dir3/-->copy a file to dir<br/>
13.service iptables stop-->turn off firewall<br/>
14.chkconfig iptables off->turn off firewall permanentlly(next start work!)<br/>
15.mkdir -p /dir1/dir2/dir3-->make nested dir<br/>
15.locate ifconfig-->force to search<br/>
16.yum install epel-->install a epel repo(usual)<br/>
17.yum install htop-->install a memory tools<br/>
18.fuser -k -n tcp 37-->kill tcp 37 port<br/>
19.ifconfig eth0 192.168.0.73-->bind eth0 ip<br/>
20. ./tranfer_node |tee tnlog-->output on console and file(meanwhile)<br/>
21. cat /etc/redhat-release-->read version
22.yum remove samba --->remove apackage
<br/>

</p>
</div>
</body>
</html>