<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>yangming's git</title>
    <style>
        div{
    border-style: solid;
    border-color: yellow;
                margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    background-color: lightblue;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 150px;
        }
        body{
            background-color: #5f796b;
        }
        p{
            font-family: Calibri;
    font-size: 20px;

}
color:red}
.important{
    </style>
</head>
<body>
<div class="git">
<p>
<p class="yourfirstackagegoprogram">
<br/>
1<br/>
碰见复杂的问题的时候，我发现解决起来还是蛮困难的，这一点在撮合了几个文档<br/>
来解决问题的时候，如果问题还不能得到有效的解决，我的情绪就变得不是太稳定<br/>
2.<br/>
有时候问题有多种解决方式的时候，我大多数时候会陷入其中一种解决方式，查阅大量<br/>资料，浪费非常多的时间，通常忘记了还有另一种解决方式<br/>
3.<br/>
一个问题越长时间我解决不了我我就会变得很焦躁，在寻找解决方案的时候，就不回去动<br/>脑子，看资料的时候也会变得没有精力去把每一个细节琢磨透<br/>
4.<br/>
自从锻炼年少以后，再加上打飞机次数多了以后，最近老是赶脚低血糖<br/>
5.<br/>
有时候也许搜索的是一个根本不存在的结果哦，寻找的方案也许从一开头就没有经过深思<br/>熟虑<br/>
6.<br/>
需要改进解决问题的技术否则的话会大大浪费你的脑筋，这一点已经在解决复杂问题的时<br/>候有所体现，经常会出现各种各样的烦恼<br/>
7.<br/>
对于解决问题技术的探索：<br/>
(1).这个问题有多少种解决方法，猜测哪一种是最简单的<br/>
(2).这个问题是由当前的猜想引起的吗？<br/>
(3). 检验猜想能想做一些小规模的实验吗？<br/>
(4).能做一些小规模的模拟测试吗？<br/>
(5).我到底想做什么<br/>
8.<br/>
好多事情根本就不会按设想的发展，只是在大方向大体接近，事情的结局大多数都是与预<br/>设结局是不一样的，一定要心平气和的去面对每一个尝试的过程<br/>
9.<br/>
如果不是主动寻找意见的时候，别人的抱怨与批评，都会让我感到非常的不爽<br/>
张喆说我看东西在技术上只看到了局部，并没有搞清楚我想做什么，只是以搞清楚东西为导向，<br/>
并没有以业务为导向，还提到逻辑混乱混乱这件事情，上次一个复旦面试的时候，也大概说了逻辑混乱的事情<br/>
10.<br/>
不能操之过急，很多事情急急忙忙想做完，可是后来结果又如何呢，这有说不完的例子，比如说那个CSAPP，<br/>
复习全书急急忙忙看完最后的效果是如何呢？很多当初想很快弄完的事情后来基本上每一件都半途而废了！<br/>
11.<br/>
目前头晕会出现在两种情况下面，第一种是没吃饭，吃饭太久了，另一种是吃了饭上厕所<br/>排泄掉了，还有一种就是打飞机的情况<br/>
12.<br/>
在普通的阅读过程中我会出现这样的情况，有的地方太难就会给我造成极大的阅读障碍，<br/>这个时候，我一般都会跳过去<br/>
13.<br/>
我通常停下来有两种情况，一是碰到困难的地方，二是我觉得这件事情已经有更好的办法<br/>停下来通常是导致我做事情并不能做完的主要原因,这里有一种非常常见的情况，<br/>每件事情如果按照很小的计划，哪怕就是一点点来做，后来在大多数情况下，他都会比<br/>那种想快点搞完的情况都要提前做成功，至少按计划来看是这样，假如说一本书一天<br/>看2页，也比我那种一天看10页的情况要好很多，很多的时候我还是太着急了，这一点<br/>在很多项目库上面都体现出来，比如那个CSAPP，比如the little go book<br/>
14.<br/>
一个问题得到解决以后，我通常并不会去搞懂她的细节，这一个毛病体现在我只想达到目<br/>标，这大概是我处理复杂事情效率较低的原因之一吧，好多事情猎奇的感觉一旦过去，就<br/>会导致对全过程的理解浮在水面上你，比如说那个canvas项目。<br/>
15.<br/>
有些东西当时看起来，是很完整理解了，但是在后来的学习过程中，我又会怀疑自已理解了吗<br/>
这些情况经常出现<br/>
16.<br/>
现在会出现这样的情况，就是很多局部的东西我觉得都能做出结果来，但是由于对全局缺少理解<br/>
会觉得之前的努力都是白费的 <br/>
17.<br/>
有些是事实的事情，我还是不愿意接受，譬如说我知道基础很重要，但是我还是改不<br/>掉这个毛病？<br/>
18.<br/>
年少的时候，我对手淫有这样的认识，一切的的不算是来自于我不爱干净，所以导致了<br/>各种各样的不顺利，然后我觉得只要能洗澡就可以冲走这样的晦气，这一点在南<br/>山的时候有点这种感觉奏效的样子，但是在东辰的时候证明这不过是痴人说梦<br/>
19.有时候，问题本身并不存在，但是我觉得那是一个问题，那样就会导致方向根本性<br/>的错误<br/>
20.从目前获得的只是来看，设定办事情的程序是避免生活变得疯狂的好办法<br/>
</p>	 
</p>
<audio controls autoplay>
  <source src="../static/sound/sleepsong.mp3" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>
</div>
</body>
</html>