<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>someone</title>
    <style>
        div{
    border-style: solid;
    border-color: yellow;
                margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    background-color: lightblue;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 150px;
        }
        body{
            background-color: #5f796b;
        }
        p{
            font-family: Calibri;
    font-size: 20px;

}
color:red}
.important{
    </style>
</head>
<body>
<div class="git">
<p>
<p class="yourfirstackagegoprogram">
<br/>
1<br/>
碰见复杂的问题的时候，我发现解决起来还是蛮困难的，这一点在撮合了几个文档<br/>
来解决问题的时候，如果问题还不能得到有效的解决，我的情绪就变得不是太稳定<br/>
2.<br/>
有时候问题有多种解决方式的时候，我大多数时候会陷入其中一种解决方式，查阅大量<br/>资料，浪费非常多的时间，通常忘记了还有另一种解决方式<br/>
3.<br/>
一个问题越长时间我解决不了我我就会变得很焦躁，在寻找解决方案的时候，就不回去动<br/>脑子，看资料的时候也会变得没有精力去把每一个细节琢磨透<br/>
4.<br/>
自从锻炼年少以后，再加上打飞机次数多了以后，最近老是赶脚低血糖<br/>
5.<br/>
有时候也许搜索的是一个根本不存在的结果哦，寻找的方案也许从一开头就没有经过深思<br/>熟虑<br/>
6.<br/>
需要改进解决问题的技术否则的话会大大浪费你的脑筋，这一点已经在解决复杂问题的时<br/>候有所体现，经常会出现各种各样的烦恼<br/>
7.<br/>
对于解决问题技术的探索：<br/>
(1).这个问题有多少种解决方法，猜测哪一种是最简单的<br/>
(2).这个问题是由当前的猜想引起的吗？<br/>
(3). 检验猜想能想做一些小规模的实验吗？<br/>
(4).能做一些小规模的模拟测试吗？<br/>
(5).我到底想做什么<br/>
8.<br/>
好多事情根本就不会按设想的发展，只是在大方向大体接近，事情的结局大多数都是与预<br/>设结局是不一样的，一定要心平气和的去面对每一个尝试的过程<br/>
9.<br/>
如果不是主动寻找意见的时候，别人的抱怨与批评，都会让我感到非常的不爽<br/>
张喆说我看东西在技术上只看到了局部，并没有搞清楚我想做什么，只是以搞清楚东西为导向，<br/>
并没有以业务为导向，还提到逻辑混乱混乱这件事情，上次一个复旦面试的时候，也大概说了逻辑混乱的事情<br/>
10.<br/>
不能操之过急，很多事情急急忙忙想做完，可是后来结果又如何呢，这有说不完的例子，比如说那个CSAPP，<br/>
复习全书急急忙忙看完最后的效果是如何呢？很多当初想很快弄完的事情后来基本上每一件都半途而废了！<br/>
11.<br/>
目前头晕会出现在两种情况下面，第一种是没吃饭，吃饭太久了，另一种是吃了饭上厕所<br/>排泄掉了，还有一种就是打飞机的情况<br/>
12.<br/>
在普通的阅读过程中我会出现这样的情况，有的地方太难就会给我造成极大的阅读障碍，<br/>这个时候，我一般都会跳过去<br/>
13.<br/>
我通常停下来有两种情况，一是碰到困难的地方，二是我觉得这件事情已经有更好的办法<br/>停下来通常是导致我做事情并不能做完的主要原因,这里有一种非常常见的情况，<br/>每件事情如果按照很小的计划，哪怕就是一点点来做，后来在大多数情况下，他都会比<br/>那种想快点搞完的情况都要提前做成功，至少按计划来看是这样，假如说一本书一天<br/>看2页，也比我那种一天看10页的情况要好很多，很多的时候我还是太着急了，这一点<br/>在很多项目库上面都体现出来，比如那个CSAPP，比如the little go book<br/>
14.<br/>
一个问题得到解决以后，我通常并不会去搞懂她的细节，这一个毛病体现在我只想达到目<br/>标，这大概是我处理复杂事情效率较低的原因之一吧，好多事情猎奇的感觉一旦过去，就<br/>会导致对全过程的理解浮在水面上你，比如说那个canvas项目。<br/>
15.<br/>
有些东西当时看起来，是很完整理解了，但是在后来的学习过程中，我又会怀疑自已理解了吗<br/>
这些情况经常出现<br/>
16.<br/>
现在会出现这样的情况，就是很多局部的东西我觉得都能做出结果来，但是由于对全局缺少理解<br/>
会觉得之前的努力都是白费的 <br/>
17.<br/>
有些是事实的事情，我还是不愿意接受，譬如说我知道基础很重要，但是我还是改不<br/>掉这个毛病？<br/>
18.<br/>
年少的时候，我对手淫有这样的认识，一切的的不算是来自于我不爱干净，所以导致了<br/>各种各样的不顺利，然后我觉得只要能洗澡就可以冲走这样的晦气，这一点在南<br/>山的时候有点这种感觉奏效的样子，但是在东辰的时候证明这不过是痴人说梦<br/>
19.<br/>
有时候，问题本身并不存在，但是我觉得那是一个问题，那样就会导致方向根本性<br/>的错误<br/>
20.<br/>
从目前获得的只是来看，设定办事情的程序是避免生活变得疯狂的好办法<br/>
21.回想大学时光学业最顺利的大二下学期和大三上学期间，就是在我远离色情的那一年<br/>当时的物理备考，两次的数学备考真的是一个不错的故事，还有大三上学期的数学建<br/>模竞赛的成绩，无一不是在那一年建立的<br/>
22.<br/>
我每次怀疑我的事业的时候，就是之前坚持的事情动摇的时候，会到fap上面就是因为在<br/>zhihu上面看了一个post<br/>
23.<br/>
我之前是有怨念的，就是觉得当时要是如何就好了，就像如果我早一点发现翻墙技术，<br/>要是早一点转专业，这样的情况已经经常出现<br/>
24.<br/>
将上下文环境注释到当前的环境中，真的是一个很好的办法，这一点简直就是如虎添翼<br/>
25.<br/>
情急之下会忘记了经验与教训<br/>
26.<br/>
一次只做一件事情，但是我的经验与教训是不知道到何处适可而止<br/>
27.<br/>
事情的变化会有时候会让人嗔目结舌，尤其是和想象的不一样，这种情景已经是经常发生.<br/>
28.<br/>
很多美好的事情都会因为财力不够而停止，没钱的时候会让人的勇气小很多<BR/>
29.<br/>
我属于比较担忧的那一类人，而且经常忧虑很多东西，就像投入工作中，也有许多担忧虑<br/>,如被别人解雇<br/>
30.<br/>
没有得到的时候翘首以盼，得到后却不开心，这种例子太常见了，就像django的部署<br/>
31.<br/>
我的英文功底还是令人担忧，尤其是在看一些较长的学术视频的时候，明显感觉到很吃<br/>另外啊，是明显是这种情况，当一个东西基本功不牢靠的时候，需要去想，然后就跟不<br/>上了<br/>
32.<br/>
需要注意的是，我现在想现在一次做一件事情的时候，我发现了这样的问题，我总是会被各种各样的任务<br/>
给迷惑住，导致原来的事情通常无疾而终，这是非常常见的一个现象<br/>
33.<br/>
有时候还是会出现为了做一件事而去做一件事情，比如说五年计划里面去南疆的意义了呢<br/>
34.<br/>
有些道理本身是明白的，就像结合这么多年的教训，已经明显知道一天能做的事情太少，几年能做的<br/>
事情有很多，但是我还是不能将这个道理实践下去<br/>
35.<br/>
压力一大的时候，我就想打飞机<br
35.<br/>
目前看来可能面临两种情况，其一是学的的东西不能够及时转化<br/>
36.<br/>
当计划的容量变得很大的时候，无论是日计划，还是周计划，还是月计划，都会让人疲惫不肯，最后的效果也是寥寥，经常半途而废<br/>
结合以前的教训，设置合适的计划容量，是让我走的更远的方法<br/>
37.<br/>
最近，明显会出现一种情况，那就是有些事情明显有更加改进的地方，不愿意去做更多的实验，而是让问题在那里晾着，而我却不愿去思考，或者说不愿意去改进，就去和别人交流<br/>
38.<br/>
有些时候事情出现问题的时候，必须作为一个整体去考虑，就像client-server-database这种情形，你不能只考虑服务端的问题<br/>
39.<br/>
我发现了一个问题，那就是即便有很厉害的人和我讲话，我对别人的说话的主题吸收很是寥寥<br/>
40.<br/>
我发现我看书越来越不认真了,在阅读文档的时候，明显会出现那种情况，就是文本太长的时候，如果想一下消化，基本上那个就虎头蛇尾<br/>
41.<br/>
一次只做一件事情的毛病就是，不知道到哪里合适<br/>
42.<br/>
为什么我有时候不在代码上面做实验，就去请教别人<br/>
43.<br/>
大多数情况下面，如果我不能专注到一件事情上面，我就会变得异常烦躁，那个时候就是生理欲望比较强的时间<br/>
44.<br/>
有时候线直接表达想法进入搜索引擎，那样也许就能解决问题，从更加庞大的细节入手，往往被弄得晕头转向<br/>
45.<br/>
有时候，明显感觉搞懂了很多东西，并且当时觉得也比较明白，但是到后来随着时间的流逝，有感觉什么都没有搞懂<br/>
46.<br/>
有时候，会出现这种情况，有的事情即便做完了，但是最后会完全忘记，但这只是我感觉到的，也就是说勉强完成一件任务，但是后来不用，就效果寥寥，很多事情因为这个带来了极其糟糕的心理压力。<br/>
47.<br/>
有些时候事情出现问题的时候，必须作为一个整体去考虑，就像client-server-database这种情形，你不能只考虑服务端的问题<br/>
48.<br/>
我发现了一个问题，那就是即便有很厉害的人和我讲话，我对别人的说话的主题吸收很是寥寥<br/>
49.<br/>
戒色戒了一段时间后，突然破戒色，和后几天的心理状态就会变得极其的动荡和不安<br/>
50.<br/>
慢慢的发现，很多时间里其实接触到很多技术，但是能真正转化出来又用到生活中的是非常的少<br/>
哪怕只有一点点转化，生活的一方面也会发生很大的改善，譬如说那个解决技术问题的多标签技术<br/>
51.<br/>
有时候，竟然懒到搜索引擎都不想动<br/>
52.<br/>
突然发现，理解一个东西好累，更别说去什么类比之类的<br/>
53.<br/>
好多东西当初非常期盼，但是到了后来得到了之后，却又觉得普通的很<br/>
54.<br/>
有时候我会不会照顾照顾自已的心理感受，强行去推动一件事情，就像跟王小姐表白<br/>
55.<br/>
有时候，励志故事看多了就会觉得他们那么差劲，为什么，比我做的好呢<br/>
56.<br/>
这是第多少次表白失败了，已经很多次了,我担心会带来极其糟糕的心理影响<br/>
57.<br/>
有种感觉就是能借到钱的朋友才是真朋友<br/>
58.<br/>
每次听到夏恋这首曲子，我就想起我在医科大的美好时光，想起闵小姐<br/>
59.<br/>
尽管知道很多办法，但是如果不去实现到后来有什么用呢<br/>
60.<br/>
学业不精是我的特点<br/>
61.<br/>
I have Tried many techniques,but all turn off finally <br/>
62.<br/>
Climb zumalama mountain <br/>
63.<br/>
Reading a tech book will occur these problem<br/>
that you can not apply these stuffs to Project instantly<br/>
64.<br/>
我靠重复性来代替思考，是不是有这种倾向<br/>
65.<br/>
 现在在公司坐的稍微久一点，也会觉得浑身难受，是不是可能和锻炼太少有关系<br/>
 66.<br/>
我被带入当前瞬已的环境，本来多么幽默的一个人，变得沉默寡言了，或则说是稳重了<br/>
67.<br/>
好的比喻是非常难提出来的，这一点我目前的实际情况是这样的，<br/>再对东西完全不了解的情况下，提出的比喻模型通常后来被抛弃，<br/>
或则又回到根本不使用模型的情况 <br/>
68.<br/>
目前碰见两个困难，一个是我每次想建立整体上面的模型，然后来填充细节，<br/>
但是有时候，填充细节的时候却发现整体上面建立的并不是很良好<br/>
69.<br/>
我还是太着急了，我这么着急干什么呢<br/>
70.<br/>
有时候，会出现这种情况，有的事情即便做完了，但是最后会完全忘记，<br/>
但这只是我感觉到的，也就是说勉强完成一件任务，但是后来不用，<br/>
就效果寥寥，很多事情因为这个带来了极其糟糕的心理压力<br/>
71.<br/>
财务危机是这些年来的特点<br/>
72.<br/>
我始终跨不出尝试转化的那一步，或者说跨出去不久后，又会退回来<br/>
73.<br/>
when i read a book,if i want to  finish a goal,i like to  see left pages <br/>
74.<br/>
in some days ,if i have recover from old days ,i will forget old days' pain<br/>
75.<br/>
when a day's plan will be finished,i may give up to finish all things because i am tire<br/>
76.<br/>
long reading-article that own a bad format version will influence my soul_mode ,<br/>
but good version can help to recall my will to read it<br/>

77.<br/>
from my opinion,it should be that more important things are done firstly,<br/>
but that will influence my schedule and expection of going forwarding<br/>
78.<br/>
when a thing trap into diffcult state,i donot want to give up in learning somethings<br/>
79.<br/>
when others are discussing a thing,sometimes,i will publish some not_real point to upvote my opinion<br/>
80.<br/>
from my experience and book's experience,you can not change many habits at the same time,or you will<br/> regret to waste too energy.<br/>
81.<br/>
now , i can not feel awesome,when some say these  stuff is awesome!<br/>

82.<br/>
many thing i want to do quickly to finish them and switch to another thing,but these things done badly<br/>
83.<br/>
sometimes,i have konwn that it will be bad ,but i may do it , it is dangerous<br/>
84.<br/>
sometimes,when some one give me a explation i want to know, i will give a repeat(why????)<br/>
85.<br/>
sometimes,a problem you serach may be very simple<br/>
</p>	 
</p>
<audio controls autoplay>
  <source src="../static/sound/sleepsong.mp3" type="audio/mpeg">

  Your browser does not support the audio element.
</audio>
</div>
</body>
</html>