<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>yangming's git</title>
    <style>
        div{
    border-style: solid;
    border-color: yellow;
                margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    background-color: lightblue;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 150px;
        }
        body{
            background-color: #5f796b;
        }
        p{
            font-family: Calibri;
    font-size: 20px;

}
color:red}
.important{
    </style>
</head>
<body>
<div class="git">
<p>
<p class="yourfirstackagegoprogram">
<br/>
1.碰见复杂的问题的时候，我发现解决起来还是蛮困难的，这一点在撮合了几个文档<br/>
  来解决问题的时候，如果问题还不能得到有效的解决，我的情绪就变得不是太稳定<br/>
</p>	 
</p>
</div>
</body>
</html>