<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>yangming's sql commands</title>
    <style>
        div{
    border-style: solid;
    border-color: yellow;
                margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    background-color: lightblue;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 150px;
        }
        body{
            background-color: #5f796b;
        }
        p{
            font-family: Calibri;
    font-size: 20px;

}
    </style>
</head>
<body>
<div class="git">
<p>
linux sql  flow<br/>
1.select * from who\G<br/>
2. drop table who<br/>


<br/>

</p>
</div>
</body>
</html>